<nav style="background: linear-gradient(75deg, rgb(204, 255, 255), rgb(255, 204, 255));"class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="https://img.icons8.com/nolan/64/audio-wave.png"/>
  <a class="navbar-brand" href="#">Soundable</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" href="#">About</a>
      </li>
    </ul>
    <div class="row-cart">
    <form class="style-center form-inline my-2 my-lg-0">
      <img (click)="openModal()" src="https://img.icons8.com/ultraviolet/40/000000/shopping-cart.png" alt="cart"/>
      <span class="badge" *ngIf="cart.length > 0">{{cart.length}}</span>    
    </form>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="modal" [style.display]="displayModal()" [style.background-color]="'#d1d1d1ad'" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-background">
      <div class="modal-header">
        <h5 class="modal-title">My cart</h5>
        <button type="button" class="close" (click)="openModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-my-cart-item [albums]="cart"></app-my-cart-item>
      </div>
    </div>
  </div>
</div>