<div class="choose-item">
    <div class="col-12 col-md-6 mb-4">
        <app-search-music-item [allMusicGenres$]="allMusicGenres$" (musicGenreEmitter)="searchedMusicGenreName($event)" (musicItemToSearchEmitter)="searchedMusicItemName($event)"></app-search-music-item>
    </div>
</div>
<div class="albums-show">
  <ul class="list-group list-albums">
    <li class="list-group-item card-center background-li" *ngFor="let musicItem of musicItemsToDisplay">
      <app-music-item [musicItem]="musicItem" (addToCart)="addToCart(foodItem)"></app-music-item>
    </li>
  </ul>
</div>